<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Joo">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/oAuth-Buttons/css/oauth-buttons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <meta name="_csrf"/>
  <meta name="_csrf_header"/>
</head>
<body>
  <!--헤더-->
  <header id="header"></header>
  <!--로그인-->
  <section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">로그인</h3>

              <!--login form-->
              <form id="login" method="post">
                <p id="login-error" class="field-error"></p>
                <div class="form-outline mb-4">
                  <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="이메일을 입력해주세요." />
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="비밀번호를 입력해주세요." />
                </div>
                <div class="d-grid gap-2 mx-auto">
                  <button class="btn btn-dark btn-lg btn-block" type="submit">이메일로 시작하기</button>
                </div>
              </form>

              <hr class="my-4">

              <!--oauth login form-->
              <div class="row d-flex justify-content-center">
                <button id="google-login" type="button" class="btn">
                  <div class="lbtn lbtn-google">
                    <i class="logo"></i>
                    <p class="label">
                      Google 아이디로 로그인
                    </p>
                  </div>
                </button>
                <button id="naver-login" type="button" class="btn">
                  <div class="lbtn lbtn-naver">
                    <i class="logo"></i>
                    <p class="label">
                      Naver 아이디로 로그인
                    </p>
                  </div>
                </button>
                <button id="kakao-login" type="button" class="btn">
                  <div class="lbtn lbtn-kakao">
                    <i class="logo"></i>
                    <p class="label">
                      Kakao 아이디로 로그인
                    </p>
                  </div>
                </button>
              </div>

              <hr class="my-4">

              <!--비밀번호 찾기-->
              <a id="find-pass" href="#" class="link-body-emphasis text-decoration-none me-5"><strong>비밀번호 찾기</strong></a>
              <!--회원가입 (회원 유형 페이지로 이동)-->
              <a id="sign-up" href="#" class="link-body-emphasis text-decoration-none"><strong>회원가입</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--푸터-->
  <footer id="footer"></footer>
  <!--스크립트-->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="/oAuth-Buttons/js/oauth-buttons.min.js"></script>
  <script src="/js/hiddenUrlParameter.js"></script>
  <script src="/js/getRequest.js"></script>
  <script id="alarmScript"></script>
  <script>
    $(document).ready(function () {
      const csrfToken = $("meta[name='_csrf']").attr("content");
      const csrfHeader = $("meta[name='_csrf_header']").attr("content");
      $('form').submit(function (e) {
        e.preventDefault();
        const formData = {
          email: $('#email').val(),
          password: $('#password').val()
        };
        $.ajax({
          url: '/api/v1/signin',
          type: 'POST',
          data: formData,
          beforeSend: function (xhr) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
          },
          success: function (result) {
            localStorage.setItem('accessToken', result['accessToken']);
            localStorage.setItem('refreshToken', result['refreshToken']);
            localStorage.setItem('nickname', result['nickname']);
            window.location.href = "/";
          },
          error: function (result) {
            $('#login-error').text(result['message']);
          }
        });
      });
    });
  </script>
</body>
</html>
