<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My3D</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <meta name="_csrf"/>
    <meta name="_csrf_header"/>
</head>
<style>
    #save-companyName {
        display: none;
    }
    #save-homepage {
        display: none;
    }
    #apply {
        display: none;
    }
</style>
<body>
<!--헤더-->
<header id="header"></header>
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center pb-1">
            <div class="sidebar-brand-text mx-3" id="sidebarName">name 님</div>
        </a>
        <div class="d-flex align-items-start justify-content-center">
            <div class="sidebar-heading" id="userType">개인 회원</div>
            <div class="sidebar-heading" id="companyType">기업 회원</div>
        </div>
        <br>
        <br>
        <br>

        <!-- Nav Item - 기업 정보 -->
        <li class="nav-item active" id="nav-company">
            <a class="nav-link d-flex align-items-center justify-content-center" href="/admin/company">
                <span>기업 정보</span></a>
        </li>

        <!-- Nav Item - 계정 정보 -->
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center justify-content-center" href="/admin">
                <span>계정 정보</span>
            </a>
        </li>

        <!-- Nav Item - 비밀번호 변경 -->
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center justify-content-center" href="/admin/password">
                <span>비밀번호 변경</span>
            </a>
        </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid col-sm-8">
                <!-- Content Row -->
                <div id="company-form">
                    <div class="row">
                        <h2 class="text-gray-800 pb-5 ps-0"><strong>기업 정보</strong></h2>
                        <!--기업명-->
                        <div class="d-flex justify-content-start mb-1 text-gray-800 ps-0">
                            기업명
                        </div>
                        <div class="row pb-4">
                            <input type="text" id="companyName" name="companyName" class="form-control col-lg-7" placeholder="(주)My3D" disabled/>
                            <button id="edit-companyName" type="button" class="btn-info btn col-lg-1 ms-2">수정</button>
                            <button id="save-companyName" type="button" class="btn-info btn col-lg-1 ms-2">저장</button>
                        </div>
                        <!--이름-->
                        <div class="d-flex justify-content-start mb-1 text-gray-800 ps-0">
                            홈페이지
                        </div>
                        <div class="row pb-4">
                            <input type="text" id="homepage" name="homepage" class="form-control col-lg-7" placeholder="www.my3d.com" disabled/>
                            <button id="edit-homepage" type="button" class="btn-info btn col-lg-1 ms-2">수정</button>
                            <button id="save-homepage" type="button" class="btn-info btn col-lg-1 ms-2">저장</button>
                        </div>
                        <p id="update-error" class="field-error"></p>
                        <div class="d-flex col-lg-8 justify-content-end">
                            <button type="button" id="apply" class="btn btn-dark col-sm-2">적용</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<main class="container">

</main>
<!--푸터-->
<footer id="footer"></footer>
<!--스크립트-->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/initHeader.js"></script>
<script>
    /**
     * 수정 요청
     */
    const csrfToken = $("meta[name='_csrf']").attr("content");
    const csrfHeader = $("meta[name='_csrf_header']").attr("content");
    $('#apply').on('click', function () {
        var formData = new FormData();
        formData.append('companyName', $('#companyName').val());
        formData.append('homepage', $('#homepage').val());
        $.ajax({
            url: '/api/v1/admin/company',
            type: 'PUT',
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (result) {
                $("#apply").hide();
            },
            error: function (xhr, _, _) {
                $('#update-error').text('수정 실패했습니다.');
                console.log(JSON.parse(xhr.responseText).message);
            }
        })
    })
    function getCompanyName() {
        return $("#companyName").val();
    }
    function getHomepage() {
        return $("#homepage").val();
    }
    $(window).on('load', function(){
        var prevCompanyName = getCompanyName();
        var prevHomepage = getHomepage();

        //기업명 수정/저장
        $("#edit-companyName").click(function() {
            $("#companyName").removeAttr("disabled").attr("required", "required");
            $(this).toggle();
            $("#save-companyName").toggle();
        })
        $("#save-companyName").click(function() {
            $("#companyName").attr("disabled", "disabled");
            $(this).toggle();
            $("#edit-companyName").toggle();
            changeCheck();
        })
        //홈페이지 수정/저장
        $("#edit-homepage").click(function() {
            $("#homepage").removeAttr("disabled");
            $(this).toggle();
            $("#save-homepage").toggle();
        })
        $("#save-homepage").click(function() {
            $("#homepage").attr("disabled", "disabled");
            $(this).toggle();
            $("#edit-homepage").toggle();
            changeCheck();
        })

        function changeCheck() {
            var companyName = getCompanyName();
            var homepage = getHomepage();
            if (prevCompanyName === companyName && prevHomepage === homepage) {
                $("#apply").hide();
            } else {
                $("#apply").show();
            }
        }
    })
</script>
<script id="alarmScript"></script>
</body>
</html>
