<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My3D 홈페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <style>
        aside {
            position: fixed;
            font-size: 13px;
            width: 176px;
            top: 112px;
            right: 50px;
            overflow: auto;
        }
        @media screen and (max-width: 1100px) {
            aside {
                display: none;
            }
        }
    </style>
</head>
<body>
<!--헤더-->
<header id="header"></header>

<aside>
    <ul class="list-group">
        <li class="list-group-item"><a href="#sla" class="link-body-emphasis text-decoration-none">SLA</a></li>
        <li class="list-group-item"><a href="#sls" class="link-body-emphasis text-decoration-none">SLS</a></li>
        <li class="list-group-item"><a href="#slm" class="link-body-emphasis text-decoration-none">SLM(DMLS)</a></li>
    </ul>
</aside>

<main class="container">
    <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-6 col-lg-7">
            <div class="row mb-2">
                <h3 id="sla">SLA 방식</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>SLA(Stereolithography)는 컨셉 모델, 화장품 프로토타입, 복잡한 형상의 복잡한 부품을 단 하루 만에 제작하는 데 사용되는 산업용 3D 프린팅 방식입니다.</li>
                        <li>SLA는 매끄러운 표면 마감이 필요한 3D 프린팅 모델에 적합한 선택입니다.</li>
                        <li>광경화 액상수지가 들어있는 수조가 UV레이저빔을 쏘아 필요한 부분만 고체화시키는 방식입니다.</li>
                    </ul>
                </div>
                <div class="col">
                    <div class="text-center mb-3">
                        <img src="/img/printing_process/sla.gif" width="350px"/>
                    </div>
                </div>
            </div>
            <div class="text-center mb-3">
                <img src="/img/printing_process/sla-process.png" width="550px"/>
            </div>
            <table class="table mb-5">
                <thead>
                    <th>장점</th>
                    <th>단점</th>
                    <th>소재</th>
                </thead>
                <tbody>
                    <td>표면 정밀도가 우수</td>
                    <td>내구성이 낮음</td>
                    <td>ABS, Lesin</td>
                </tbody>
            </table>

            <div class="row mb-2">
                <h3 id="sls">SLS 방식</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p>레이저가 분말 입자를 선택적으로 소결하여 층을 쌓아올리는 방식입니다.</p>
                </div>
                <div class="col">
                    <div class="text-center mb-3">
                        <img src="/img/printing_process/sls.gif" width="350px"/>
                    </div>
                </div>
            </div>
            <table class="table mb-5">
                <thead>
                <th>장점</th>
                <th>단점</th>
                <th>소재</th>
                </thead>
                <tbody>
                <td>내구성 우수</td>
                <td>나일론 소재만 가능</td>
                <td>Nylon</td>
                </tbody>
            </table>

            <div class="row mb-2">
                <h3 id="slm">SLM(DMLS) 방식</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p>SLM과 DMLS가 같은 의미로 사용되기도하지만 SLM은 순수 금속을 녹이고 DMLS는 금속 합급을 융합하는 기술이라는 점이 다릅니다.</p>
                </div>
                <div class="col">
                    <div class="text-center mb-3">
                        <img src="/img/printing_process/slmgif.gif" width="350px"/>
                    </div>
                </div>
            </div>
            <table class="table mb-5">
                <thead>
                <th>장점</th>
                <th>단점</th>
                <th>소재</th>
                </thead>
                <tbody>
                <td>다양한 금속 사용가능</td>
                <td>
                    <ul>
                        <li>높은 비용</li>
                        <li>거친 표면 마무리</li>
                        <li>많은 후처리가 요구됨</li>
                        <li>전문적인 설계 및 제조 기술이 필요</li>
                        <li>상대적으로 작은 부품으로 제한</li>
                    </ul>
                </td>
                <td>스테인리스, 알루미늄, 티타늄</td>
                </tbody>
            </table>
        </div>
    </div>
</main>
<!--푸터-->
<footer id="footer"></footer>
<!--스크립트-->
<script src="/js/hiddenUrlParameter.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script id="alarmScript"></script>
</body>
</html>
