<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>새 게시글 등록</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/file-form.less" rel="stylesheet/less" type="text/css">
</head>
<body>
  <!--헤더-->
  <header id="header"></header>
  <div class="container">
    <form id="article-form" enctype="multipart/form-data">
      <!--제목-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <input type="text" class="form-control" id="title" name="title" placeholder="제목" required>
        </div>
      </div>
      <!--요약-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <textarea class="form-control" id="summary" name="summary" rows="3" placeholder="상품에 대해서 간단하게 설명해주세요." required></textarea>
        </div>
      </div>
      <!--본문-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <textarea class="form-control" id="content" name="content" rows="5" placeholder="상품에 대해서 자세히 설명해주세요." required></textarea>
        </div>
      </div>
      <!--모델 파일-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <div class="input-group custom-file-button">
            <label class="input-group-text" for="modelFile">모델 파일 선택</label>
            <input type="file" accept=".stl,.stp" class="form-control" id="modelFile" name="modelFile">
            <label id="modelFileName" for="modelFile" hidden></label>
          </div>
          <p id="model-file-error" class="mb-0"></p>
        </div>
      </div>
      <!--이미지 파일-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <div class="input-group custom-file-button">
            <label class="input-group-text" for="imgFiles">촬영 이미지 선택</label>
            <input type="file" multiple accept="image/*" class="form-control" id="imgFiles" name="imgFiles">
            <label id="imgFileName" for="imgFiles" hidden></label>
          </div>
          <p id="img-file-error" class="mb-0"></p>
        </div>
      </div>
      <!--상품옵션 모달-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <input type="button" value="상품옵션 추가" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#goodOptionModal">
        </div>
      </div>
      <p id="goodOption-error"></p>
      <div class="modal fade" id="goodOptionModal" tabindex="-1" aria-labelledby="goodOptionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="goodOptionModalLabel">상품옵션</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mb-3 justify-content-md-start ps-4 pe-4">
                <input type="text" class="form-control" id="optionName" placeholder="상품명">
              </div>
              <div class="row mb-3 justify-content-md-start ps-4 pe-4">
                <input type="text" class="form-control" id="addPrice" placeholder="추가금액">
              </div>
              <div class="row mb-3 justify-content-md-start ps-4 pe-4">
                <input type="text" class="form-control" id="printingTech" placeholder="프린팅 방식">
              </div>
              <div class="row mb-3 justify-content-md-start ps-4 pe-4">
                <input type="text" class="form-control" id="material" placeholder="프린팅 소재">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary" onclick="addGoodOptionRow()">추가</button>
            </div>
          </div>
        </div>
      </div>
      <!--상품옵션 테이블-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <div class="table-responsive">
            <table class="table table-bordered" id="goodOptionTable">
              <thead>
                <tr>
                  <th>상품명</th>
                  <th>추가금액</th>
                  <th>프린팅 방식</th>
                  <th>프린팅 소재</th>
                  <th></th>
                </tr>
                <tr>
                  <td>option1</td>
                  <td>option1</td>
                  <td>option1</td>
                  <td>option1</td>
                  <td>
                    <button class="btn btn-danger btn-sm" onclick="removeRow(this)">X</button>
                    <input type="hidden" name="goodOptionRequests[0].optionName">
                    <input type="hidden" name="goodOptionRequests[0].addPrice">
                    <input type="hidden" name="goodOptionRequests[0].printingTech">
                    <input type="hidden" name="goodOptionRequests[0].material">
                  </td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <!--치수 모달-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <input type="button" value="치수 추가" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#dimensionModal">
        </div>
      </div>
      <div class="modal fade" id="dimensionModal" tabindex="-1" aria-labelledby="dimensionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="dimensionModalLabel">상품옵션</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mb-3 justify-content-md-start ps-4 pe-4">
                <input type="text" class="form-control" id="dimName" placeholder="치수명">
              </div>
              <div class="row mb-3 justify-content-md-start ps-4 pe-4">
                <input type="text" class="form-control" id="dimValue" placeholder="치수값">
              </div>
              <div class="row mb-3 justify-content-md-start ps-4 pe-4">
                <select id="dimUnit" class="form-control input-xs">
                  <option>MM</option>
                  <option>INCH</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary" onclick="addDimensionRow()">추가</button>
            </div>
          </div>
        </div>
      </div>
      <!--치수 테이블-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <div class="table-responsive">
            <table class="table table-bordered" id="dimensionTable">
              <thead>
                <tr>
                  <th>치수명</th>
                  <th>치수</th>
                  <th>단위</th>
                  <th></th>
                </tr>
                <tr>
                  <td>dim1</td>
                  <td>dim1</td>
                  <td>dim1</td>
                  <td>
                    <button class="btn btn-danger btn-sm" onclick="removeRow(this)">X</button>
                    <input type="hidden" name="goodOptionRequests[0].dimName">
                    <input type="hidden" name="goodOptionRequests[0].dimValue">
                    <input type="hidden" name="goodOptionRequests[0].dimUnit">
                  </td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <!--카테고리-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-9">
          <select class="form-select" id="category" name="articleCategory">
            <option> 카테고리를 선택해주세요.</option>
            <option>All</option>
          </select>
          <p id="category-error" class="mb-0"></p>
        </div>
      </div>
      <!--상품 가격-->
      <div class="row mb-3 justify-content-md-center">
        <div class="col-sm-8 col-lg-2 text-center">
          <label for="priceValue" class="mb-2">가격</label>
          <input type="text" class="form-control" id="priceValue" name="priceValue" value="0" required>
        </div>
        <div class="col-sm-8 col-lg-2 text-center">
          <label for="deliveryPrice" class="mb-2">배송료</label>
          <input type="text" class="form-control" id="deliveryPrice" name="deliveryPrice" value="0" required>
        </div>
      </div>
      <!--저장&취소-->
      <div class="row mb-5 justify-content-md-end">
        <div class="col-sm-8 col-lg-9">
          <div class="col-sm-10 d-grid d-sm-flex justify-content-sm-end">
            <button type="submit" class="btn btn-primary me-2" id="submit-button">저장</button>
            <button type="button" class="btn btn-secondary" id="cancel-button">취소</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--푸터-->
  <footer id="footer"></footer>
  <!--스크립트-->
  <script src="/js/hiddenUrlParameter.js"></script>
  <script src="/js/file_input.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/less" ></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
  <script id="inline-js">
    function addGoodOptionRow() {
      const table = document.getElementById('goodOptionTable');
      const newRow = table.insertRow();
      const optionName = newRow.insertCell(0);
      const addPrice = newRow.insertCell(1);
      const printingTech = newRow.insertCell(2);
      const material = newRow.insertCell(3);
      const removeButton = newRow.insertCell(4);
      var idx = $('#goodOptionTable tr').length - 2;

      optionNameText = $('#optionName').val();
      addPriceText = $('#addPrice').val();
      printingTechText = $('#printingTech').val();
      materialText = $('#material').val();

      optionName.innerText = optionNameText;
      addPrice.innerText = addPriceText;
      printingTech.innerText = printingTechText;
      material.innerText = materialText;
      removeButton.innerHTML = "<button class='btn btn-danger btn-sm' onclick='removeRow(this)'>X</button>"
                              + "<input type='hidden' name='goodOptionRequests[" + idx + "].optionName' value='" + optionNameText + "'>"
                              + "<input type='hidden' name='goodOptionRequests[" + idx + "].addPrice' value='" + addPriceText + "'>"
                              + "<input type='hidden' name='goodOptionRequests[" + idx + "].printingTech' value='" + printingTechText + "'>"
                              + "<input type='hidden' name='goodOptionRequests[" + idx + "].material' value='" + materialText + "'>";

      $('#optionName').val("");
      $('#addPrice').val("");
      $('#printingTech').val("");
      $('#material').val("");
      $('#goodOptionModal').modal('hide');
    }

    function addDimensionRow() {
      const table = document.getElementById('dimensionTable');
      const newRow = table.insertRow();
      const dimName = newRow.insertCell(0);
      const dimValue = newRow.insertCell(1);
      const dimUnit = newRow.insertCell(2);
      const removeButton = newRow.insertCell(3);
      var idx = $('#dimensionTable tr').length - 2;

      dimNameText = $('#dimName').val();
      dimValueText = $('#dimValue').val();
      dimUnitText = $('#dimUnit').val();

      dimName.innerText = dimNameText;
      dimValue.innerText = dimValueText;
      dimUnit.innerText = dimUnitText;
      removeButton.innerHTML = "<button class='btn btn-danger btn-sm' onclick='removeRow(this)'>X</button>"
                              + "<input type='hidden' name='dimensionRequests[" + idx + "].dimName' value='" + dimNameText + "'>"
                              + "<input type='hidden' name='dimensionRequests[" + idx + "].dimValue' value='" + dimValueText + "'>"
                              + "<input type='hidden' name='dimensionRequests[" + idx + "].dimUnit' value='" + dimUnitText + "'>";

      $('#dimName').val("");
      $('#dimValue').val("");
      $('#dimUnit').val("");
      $('#dimensionModal').modal('hide');
    }

    function removeRow(row) {
      var th = $(row).parent().parent();
      th.remove();
    }

    $('#submit-button').click(
      function () {
        $(this).children('#goodOptionModal').remove();
        $(this).children('#dimensionModal').remove();
      }
    )
  </script>
</body>
</html>
