main {
    padding-top: 100px;
    padding-bottom: 100px;
}

p {
    word-wrap: break-word;
}

.model_view_size {
    width: 80%;
    height: 80%;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
}
