main {
    padding-top: 100px;
    padding-bottom: 100px;
}

p {
    word-wrap: break-word;
}

.model_view_size {
    width: 80%;
    height: 80%;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

.field-success {
    border-color: #068d06;
    color: #068d06;
}

 .alarm-dropdown {
     max-width: 326px;
     max-height: 280px;
     overflow-y: auto;

 }
.alarm-content {
    word-break: break-all;
    white-space: normal;
}

.existNewAlarm {
    display: none;
}
