<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Joo">
    <title>My3D</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<!--헤더-->
<header id="header"></header>
<!--회원 유형-->
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">사업자 정보를 입력해주세요</h3>
                        <div class="d-flex justify-content-start mb-1">
                            사업자 등록변호
                        </div>
                        <div class="form-outline mb-4">
                            <form class="row align-items-center">
                                <div class="col-9 pe-0">
                                    <input type="text" name="companyCCC" class="form-control" placeholder="-없이 숫자 열자리를 입력해주세요"/>
                                </div>
                                <div class="col-3 p-0">
                                    <button type="submit" class="btn btn-dark btn-sm">기업확인</button>
                                </div>
                            </form>
                        </div>
                        <div class="d-flex justify-content-start mb-1">
                            상호명
                        </div>
                        <input type="text" name="companyName" class="form-control mb-4" disabled/>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a id="next" class="btn btn-dark" href="#" role="button">다음으로</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--푸터-->
<footer id="footer"></footer>
</body>
</html>
