<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Header template</title>
</head>
<body>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ps-5 pe-5">
    <div class="col-md-3 mb-2 mb-md-0">
      <a id="home" href="#" class="d-inline-flex link-body-emphasis text-decoration-none">
        <span class="fs-1">My3D</span>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a id="models" href="#" class="nav-link px-2 text-dark">Models</a></li>
      <li><a id="materials" href="#" class="nav-link px-2 text-dark">Materials</a></li>
      <li><a id="printing-process" href="#" class="nav-link px-2 text-dark">3D Printing Process</a></li>
    </ul>

    <div class="col-md-3 text-end align-self-center">
      <button id="userAdminButton" class="btn p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" style="vertical-align: text-top;">
          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" id="adminCompany" href="#">기업정보 관리</a></li>
        <li><a class="dropdown-item" id="adminAccount" href="#">계정정보 관리</a></li>
        <li><a class="dropdown-item" id="adminPassword" href="#">비밀번호 변경</a></li>
      </ul>

      <span id="headerNickname" class="text-dark me-2 fw-semibold">nickname</span>
      <a id="login" class="text-decoration-none me-2">
        <span class="text-success">LogIn</span>
      </a>
      <form id="logout" style="display: inline;">
        <button type="submit" class="btn text-success p-0">LogOut</button>
      </form>
      <button id="alarmButton" class="btn p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg class="existNewAlarm" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" style="vertical-align: middle;"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/></svg>
        <svg class="notExistNewAlarm" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"/></svg>
      </button>
      <ul class="alarm-dropdown dropdown-menu p-0">
        <li class="bg-secondary"><a class="dropdown-item disabled text-white">알림</a></li>
      </ul>
    </div>
  </header>
  <script id="alarm-script">
    $(document).ready(function () {
      eventSource = new EventSource("/user/alarm/subscribe");
      eventSource.addEventListener('alarm', function (event) {
        console.log(event.data);
        getAlarms();
      })
      getAlarms();
      function getAlarms() {
        $.ajax({
          url: "/user/alarm",
          type: "GET",
          success: function (result) {
            console.log(result);
            if (isIterable(result.result)){
              setAlarms(result.result);
            }
          },
          error: function (result) {
            console.log(result.responseText);
          }
        });
      }

      function isIterable(obj) {
        if (obj == null) {
          return false;
        }
        return typeof obj[Symbol.iterator] === 'function';
      }

      function setAlarms(result) {
        $('.alarm-dropdown').find('li').slice(1).remove();
        var notReadAlarmCount = 0;
        for (var alarm of result) {
          var email = alarm['fromUserNickname'];
          var createdAt = alarm['createdAt'];
          var url = '/model_articles/'+ alarm["targetId"] + '?alarmId=' + alarm["id"];
          var content;
          if (alarm['alarmType'] === 'NEW_COMMENT_ON_POST') {
            content = '님이 댓글을 달았습니다';
          }
          var newAlarm = '<li> <a class="dropdown-item alarm-item'
          + (alarm['isChecked'] ? '' : ' fw-semibold')
          + '" href='
          + url + '> <div class="row"> <div class="col"> <p id="alarm-nickname" class="mb-1">'
          + email + '</p> </div> <div class="col"> <div class="d-flex justify-content-end"> <p id="alarm-created_at" class="mb-1">'
          + createdAt + '</p> </div> </div> </div> <div class="row"> <p class="alarm-content">'
          + content + '</p> </div> </a> </li>';

          if (!alarm['isChecked']) {
            notReadAlarmCount++;
          }

          $('.alarm-dropdown').append(newAlarm);
        }

        if (notReadAlarmCount > 0) {
          $('.existNewAlarm').show();
          $('.notExistNewAlarm').hide();
        }
      }
    })
  </script>
</body>
</html>
