<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My3D 모델 게시판</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/content_ellipsis.css" rel="stylesheet">
    <link href="/css/search-bar.css" rel="stylesheet">
</head>
<body>
<!--헤더-->
<header id="header"></header>
<main class="container pt-4">
    <div class="row">
        <!--카테고리 리스트-->
        <div class="col-2">
            <div id="category" class="list-group">
                <a class="list-group-item disabled text-center"><strong>Category</strong></a>
            </div>
        </div>
        <!--모델 게시글-->
        <div class="col-10 ps-4">
            <div class="container">
                <!--정렬&글쓰기 버튼-->
                <div class="row mb-4 px-4">
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                정렬
                            </button>
                            <ul id="sorting" class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">최신순</a></li>
                                <li><a class="dropdown-item" href="#">오래된순</a></li>
                                <li><a class="dropdown-item" href="#">인기순</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary" role="button" id="write-article">글쓰기</a>
                        </div>
                    </div>
                </div>
                <!--그리드 레이아웃 3x3-->
                <div class="container overflow-hidden pb-4">
                    <div class="row gx-3">
                        <div id="model" class="col-4">
                            <div class="model_view row mb-2">
                                <div class="online_3d_viewer model_view_size"
                                     cameraMode=2
                                     model="/models/model.stl">
                                </div>
                            </div>
                            <div class="row mb-2 ellipsis p-2">
                                <strong class="p-0">
                                    <a id="title" class="p-0 link-body-emphasis text-decoration-none">Title</a>
                                </strong>
                            </div>
                            <div class="row">
                                <div class="nickname col p-2">
                                    nickname createdAt
                                </div>
                                <div class="col p-2">
                                    <div class="like d-flex justify-content-end align-items-center px-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                            <path d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"/>
                                        </svg>
                                        <span class="ms-1">likecount</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--페이지네이션-->
            <div class="row pt-4">
                <nav aria-label="Page navigation" id="pagination">
                    <ul class="pagination justify-content-center">
                    </ul>
                </nav>
            </div>
            <!--검색-->
            <form id="search-form">
                <div class="row pt-4 justify-content-center">
                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                        <input type="hidden" id="article-category" name="articleCategory">
                        <label for="search-value" hidden>검색어</label>
                        <input type="text" class="form-control" id="search-value" name="title">
                    </div>
                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                        <button type="submit" class="btn btn-base">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-search">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<!--푸터-->
<footer id="footer"></footer>
<!--스크립트-->
<!--<script src="/js/hiddenUrlParameter.js"></script>-->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/node_modules/online-3d-viewer/build/engine/o3dv.min.js"></script>
<script type="text/javascript" src="/js/constants/articleCategory.js"></script>
<script type="text/javascript" src="/js/formatString.js"></script>
<script type="text/javascript" src="/js/paginationNumbers.js"></script>
<script type="text/javascript" src="/js/initHeader.js"></script>
<script>
    $(document).ready(function () {
        OV.SetExternalLibLocation('/node_modules/online-3d-viewer/libs');
        OV.Init3DViewerElements();
        // -- set categories
        var currentCategory = new URL(location.href).searchParams.get('articleCategory');
        var categoryItem = '<a href="/?articleCategory={0}" class="list-group-item list-group-item-action {1}">{2}</a>';
        for (const [name, value] of Object.entries(ArticleCategory)) {
            $('#category').append(
                formatString(categoryItem, name, name === currentCategory ? 'active' : '', value)
            );
        }
        // -- set pagination bar
        var pageItem = '<li class="page-item"><a class="page-link {0}" href="/?page={1}">{2}</a></li>';
        var currentPage = [[${articles.number}]];
        var totalPages = [[${articles.totalPages}]];
        var paginationElement = $('.pagination');
        paginationElement.append(
            formatString(pageItem, currentPage <= 0 ? 'disabled' : '', currentPage - 1, 'Prev')
        );
        for (var pageNumber of getPaginationBarNumbers(currentPage, totalPages)) {
            paginationElement.append(
                formatString(pageItem, pageNumber === currentPage ? 'disabled' : '', pageNumber, pageNumber + 1)
            );
        }
        paginationElement.append(
            formatString(pageItem, currentPage + 1 >= totalPages ? 'disabled' : '', currentPage + 1, 'Next')
        );
    })
</script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
<script id="alarmScript"></script>
</body>
</html>
