<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Joo">
    <title>My3D</title>
    <meta name="_csrf"/>
    <meta name="_csrf_header"/>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<!--헤더-->
<header id="header"></header>
<!--회원 유형-->
<section>
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">회원가입</h3>
                        <!--이메일-->
                        <div class="d-flex justify-content-start mb-1">
                            이메일
                        </div>
                        <div class="row mb-2">
                            <div class="col-9" id="email-form">
                                <input type="email" id="email" name="email" class="form-control"
                                       placeholder="email@gmail.com" required/>
                            </div>
                            <div class="col-3 text-end ps-0" id="email-certification">
                                <button id="email-send-code" type="button" class="btn btn-dark">본인인증</button>
                            </div>
                        </div>
                        <div class="row mb-2" id="certification-check"></div>
                        <form id="register-form" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" id="userRole"/>
                            <!--기업명-->
                            <div id="company">
                                <div class="d-flex justify-content-start mb-1">
                                    기업명
                                </div>
                                <div class="row mb-3 justify-content-md-center">
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="companyName" name="companyName"
                                               placeholder="주식회사 My3D" required>
                                    </div>
                                </div>
                            </div>
                            <!--닉네임-->
                            <div class="d-flex justify-content-start mb-1">
                                닉네임
                            </div>
                            <div class="row mb-3 justify-content-md-center">
                                <div class="col-12">
                                    <input type="text" class="form-control" id="nickname" name="nickname"
                                           placeholder="닉네임" required>
                                </div>
                            </div>
                            <!--비밀번호-->
                            <div class="d-flex justify-content-start mb-1">
                                비밀번호
                            </div>
                            <div class="row mb-2 justify-content-md-center">
                                <div class="col-12">
                                    <input type="password" class="form-control" id="password" name="password"
                                           onchange="check_pw()" placeholder="영문자,숫자,특수문자 포함 최소 8~20자" required>
                                    <p id="english-error" class="field-error mb-0" hidden>영문자를 포함해야합니다</p>
                                    <p id="number-error" class="field-error mb-0" hidden>숫자를 포함해야합니다</p>
                                    <p id="special-error" class="field-error mb-0" hidden>특수문자(!@#$%)를 포함해야합니다</p>
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-md-center">
                                <div class="col-12">
                                    <input type="password" class="form-control" id="passwordCheck" name="passwordCheck"
                                           onchange="check_pw()" placeholder="비밀번호를 확인해 주세요" required>
                                    <p id="passwordCheck-error" class="field-error mb-0" hidden>비밀번호가 일치하지 않습니다</p>
                                </div>
                            </div>
                            <!--주소-->
                            <div class="d-flex justify-content-start mb-1">
                                주소
                            </div>
                            <div class="row mb-2">
                                <div class="col-9">
                                    <input type="text" id="zipcode" name="zipcode" class="form-control" disabled/>
                                </div>
                                <div class="col-3 text-end ps-0">
                                    <button type="button" id="search-address" class="btn btn-dark">주소찾기</button>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <input type="text" id="address" name="address" class="form-control" disabled/>
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" id="detailAddress" name="detailAddress" class="form-control"
                                       placeholder="상세주소"/>
                            </div>
                            <!--Submit-->
                            <p id="signup-email-error" class="field-error" hidden>이메일 인증이 안되었습니다</p>
                            <p id="signup-password-error" class="field-error" hidden>비밀번호를 수정해주세요</p>
                            <p id="signup-error" class="field-error"></p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <a id="next" class="btn btn-dark" href="#" role="button">회원가입</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--푸터-->
<footer id="footer"></footer>
<!--스크립트-->
<script src="/js/hiddenUrlParameter.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<!--https://postcode.map.daum.net/guide-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/initHeader.js"></script>
<script type="text/javascript" src="/js/formatString.js"></script>
<script>
    /**
     * 주소 입력
     */
    window.onload = function () {
        document.getElementById("search-address").addEventListener("click", function () {
            new daum.Postcode({
                oncomplete: function (data) {
                    document.getElementById("zipcode").value = data.zonecode;
                    document.getElementById("address").value = data.address;
                }
            }).open();
        });
    }

    const csrfToken = $("meta[name='_csrf']").attr("content");
    const csrfHeader = $("meta[name='_csrf_header']").attr("content");

    /**
     * 메일 인증
     */
    var emailCode = '';
    const certificationCheckDOM = '<div class="mb-2">\n' +
        '                                <input type="text" id="emailCode" name="code" class="form-control" placeholder="인증 번호를 입력해 주세요" required/>\n' +
        '                            </div>\n' +
        '                            <div class="text-start">\n' +
        '                                <button type="button" class="btn btn-dark me-2" onclick="certification()">확인</button>\n' +
        '                            </div>';
    $('#email-send-code').on('click', function () {
        var formData = new FormData();
        formData.append("email", $('#email').val());
        $.ajax({
            url: '/api/v1/mail/send_code',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (result) {
                alert('인증 코드를 전송했습니다.');
                emailCode = result.emailCode;
                $('#certification-check').append(certificationCheckDOM);
            },
            error: function (result) {
                alert(JSON.parse(result.responseText).message);
            }
        })
    });
    const certification = () => {
        var inputEmailCode = $('#emailCode').val();
        if (inputEmailCode === emailCode) {
            $('#certification-check').children().remove();
            $('#email-certification').remove();
            var emailForm = $('#email-form');
            emailForm.removeClass("col-9");
            emailForm.addClass("col-12");
            $('#email').attr('disabled', true);
            $('#signup-email-error').attr("hidden", true);
            alert('인증되었습니다.');
        } else {
            alert('인증 코드가 일치하지않습니다.')
        }
    };

    /**
     * 회원가입 요청
     */
    const getSignUpFormData = () => {
        var formData = new FormData();
        formData.append("email", $('#email').val());
        var userRole = $('#userRole').val();
        formData.append("userRole", userRole);
        if (userRole === 'COMPANY') {
            formData.append("companyName", $('#companyName').val());
        }
        formData.append("nickname", $('#nickname').val());
        formData.append("password", $('#password').val());
        formData.append("zipcode", $('#zipcode').val());
        formData.append("address", $('#address').val());
        formData.append("detailAddress", $('#detailAddress').val());
        return formData;
    }

    $('#next').on('click', function () {
        //이메일 인증 여부
        var emailSuccess = $('#email-certification').length === 0;
        //비밀번호 유효성 통과 여부
        var pwSuccess = $('#passwordCheck-error').prop("hidden")
            && $('#number-error').prop("hidden")
            && $('#english-error').prop("hidden")
            && $('#special-error').prop("hidden");
        //이메일이 인증되었고 비밀번호 형식도 문제가 없다면 회원가입 요청
        if (emailSuccess && pwSuccess) {
            $.ajax({
                url: '/api/v1/signup',
                type: 'POST',
                data: getSignUpFormData(),
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (result) {
                    setCookie(ACCESS_TOKEN, result[ACCESS_TOKEN]);
                    setCookie(REFRESH_TOKEN, result[REFRESH_TOKEN]);
                    window.location.href = '/';
                },
                error: function (result) {
                    alert("회원가입에 실패했습니다.");
                    var signUpErrorDOM = $('#signup-error');
                    signUpErrorDOM.children().remove();
                    signUpErrorDOM.append(
                        formatString(
                            '<p>{0}</p>',
                            JSON.parse(result.responseText).errors[0].message
                        )
                    )
                }
            })
        } else {
            if (!emailSuccess) {
                $('#signup-email-error').attr("hidden", false);
            } else if (!pwSuccess) {
                $('#signup-password-error').attr("hidden", false);
            }
        }
    })

    /**
     * Password Validation
     */
    function check_pw() {
        var pw = $('#password').val();
        var pw2 = $('#passwordCheck').val();

        var hasLetter = /[a-zA-z]/.test(pw);
        var hasNumber = /\d/.test(pw);
        var hasSpecialChar = /[!@#$%]/.test(pw);

        if (pw !== "") {
            $('#signup-password-error').attr("hidden", true);
        }

        if (!hasLetter) {
            $('#english-error').attr("hidden", false);
        } else {
            $('#english-error').attr("hidden", true);
        }
        if (!hasNumber) {
            $('#number-error').attr("hidden", false);
        } else {
            $('#number-error').attr("hidden", true);
        }
        if (!hasSpecialChar) {
            $('#special-error').attr("hidden", false);
        } else {
            $('#special-error').attr("hidden", true);
        }

        if (pw !== "" && pw !== pw2) {
            $('#passwordCheck-error').attr("hidden", false);
        } else {
            $('#passwordCheck-error').attr("hidden", true);
        }
    }
</script>
<script id="alarmScript"></script>
</body>
</html>
